.img-zoom {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-hover:hover{
  /* color: #cf7500; */
  transform: scale(1.1);
  -moz-box-shadow: 0 0 10px rgb(72, 16, 177);
  -webkit-box-shadow: 0 0 10px rgb(72, 16, 177);
  box-shadow: 0 0 20px rgb(72, 16, 177);
}

.likes-display{
  font-weight: bold;
}